header {
    background-color: #125688;
    color: #E8FDFF;
}
body {
    background-color: whitesmoke;
    font-family: 'Lobster', cursive;
}
main {
    background-color: white;
    padding: 16px;
}
.post {
    margin-bottom: 60px;
}
.post .user-info img {
    border-radius: 50%;
}
