head {
    font-family: "Lobster", cursive;
}
header {
    background-color: #125688;
    color: #E8FDFF;
    font-family: "Lobster", cursive;
}
body {
    background-color: whitesmoke;
}
main {
    background-color: white;
    padding: 16px;
    font-family: "Lobster", cursive;
}
.post {
    margin-bottom: 60px;
}
.post .user-info img {
    border-radius: 50%;
}
.logo img {
    width: 40px;
    display:inline-block;
}
h1 {
    display:inline-block;
}