<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/lib1.css">
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/myapp.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
        <title>Fishtagram</title>
    </head>
    <body>
        <%= yield %>
    </body>
</html>